# 1. Import libraries

In [1]:
# data manipulation
import numpy as np
import pandas as pd
import re
from datetime import datetime

# data collection
import requests
from bs4 import BeautifulSoup

# progress display
from tqdm import tqdm

# 2. Data collection and preparation

### Articles

In [2]:
# Create Dataset
dataset = pd.DataFrame(columns=['Date', 'Title', 'Content'])

### Link searching ###
# data from the last 5 years due to a rather large dataset
history = [date.strftime("%Y-%m-%d") for date in pd.date_range(start="2017-01-01", end=datetime.today())]
for date in tqdm(history):
    # print(date)
    url = 'https://forsal.pl/archiwum/'+str(date)
#     print(url)
    f = requests.get(url)
    soup = BeautifulSoup(f.text, 'html.parser')
    mat = str(soup)
    links = (re.findall(r"<a.*? href=\"(.*?)\".*?>(.*?)</a>", mat)[:])
    for link in links:
        if (('artykuly' in link[0])&('https://www.gazetaprawna.pl/artykuly' not in link[0])&('swiat' not in link[0]))&\
            (('notowania' in link[0])|('finanse/gielda' in link[0])):
            # print(link[0])
            url2 = link[0]
            f = requests.get(url2)
            soup = BeautifulSoup(f.text, 'html.parser')
            title = link[1]
            # print(title)
            # print(date)
            try:
                content = soup.find_all(class_='leadDiv')[0].text[:]+' '+soup.find_all(class_='articleBody')[0].text.split('>>>')[0]
            except:
                try:
                    content = soup.find_all(class_='lead')[0].text[:]+' '+soup.find_all(class_='articleBody')[0].text.split('>>>')[0]
                except:
                    continue
            # print(content)
            # print()
            dataset_single_article = pd.DataFrame(({'Date':[date], 'Title':title, 'Content':content}))
            dataset = pd.concat([dataset, dataset_single_article], axis=0)

dataset.reset_index(drop=True, inplace=True)
dataset.to_csv('Articles.csv')
dataset

100%|████████████████████████████████████████████████████████████████████████████| 1842/1842 [1:28:54<00:00,  2.90s/it]

,Date,Title,Content
0,2017-01-02,"DZIEŃ NA GPW: WIG 20 lekko zyskał, w górę posz...",\n Pierwszą sesję w tym roku WI...
1,2017-01-04,Niezatapialna kanclerz. Poprawiają się notowan...,\n Ponad dwa tygodnie po zamachu terror...
2,2017-01-12,Co zrobi Fitch i Moody's? Oto scenariusze dla ...,\n W piątek 13. stycznia dwie wiodące a...
3,2017-01-16,DZIEŃ NA GPW: Po początkowych spadkach indeksy...,\n Indeksy GPW zakończyły ponie...
4,2017-02-02,Nominacja dla Schulza strzałem w dziesiątkę. N...,\n Po nominacji Martina Schulza na kand...
...,...,...,...
1467,2022-01-14,”Moscow Times”: Spadki na giełdzie w Moskwie p...,\n Kurs rubla oraz ceny akcji c...
1468,2022-01-14,Władysław Szczepkowski powołany na p.o. prezes...,\n Rada nadzorcza PKP Cargo del...
1469,2022-01-14,Ropa w USA drożeje już 4 tydzień z rzędu,\n Ropa naftowa w USA nieznaczn...
1470,2022-01-14,Główne indeksy na Wall Street zniżkują,\n Czwartkowa sesja na Wall Str...
1471,2022-01-15,Zmienna sesja na Wall Street,\n Piątkowa sesja na Wall Stree...

In [3]:
dataset['Date'].unique()

array(['2017-01-02', '2017-01-04', '2017-01-12', '2017-01-16',
       '2017-02-02', '2017-02-09', '2017-02-24', '2017-02-28',
       '2017-03-01', '2017-03-07', '2017-03-17', '2017-03-25',
       '2017-03-27', '2017-03-28', '2017-04-04', '2017-04-11',
       '2017-05-02', '2017-05-05', '2017-05-07', '2017-05-09',
       '2017-05-30', '2017-06-08', '2017-07-03', '2017-07-11',
       '2017-07-18', '2017-07-24', '2017-07-27', '2017-08-07',
       '2017-08-08', '2017-08-09', '2017-08-10', '2017-08-21',
       '2017-08-22', '2017-08-23', '2017-08-25', '2017-08-28',
       '2017-09-01', '2017-09-04', '2017-09-19', '2017-09-20',
       '2017-09-22', '2017-09-27', '2017-10-11', '2017-10-17',
       '2017-10-23', '2017-10-26', '2017-10-31', '2017-11-02',
       '2017-11-03', '2017-11-06', '2017-11-07', '2017-11-10',
       '2017-11-13', '2017-11-14', '2017-11-24', '2017-11-29',
       '2017-12-04', '2017-12-22', '2017-12-28', '2018-01-09',
       '2018-01-12', '2018-01-25', '2018-02-05', '2018-02-12',
       '2018-03-30', '2018-04-06', '2018-05-03', '2018-05-19',
       '2018-06-24', '2018-07-03', '2018-07-23', '2018-08-03',
       '2018-08-06', '2018-08-22', '2018-11-07', '2018-11-09',
       '2018-12-20', '2018-12-28', '2019-01-08', '2019-01-21',
       '2019-01-26', '2019-02-19', '2019-03-04', '2019-03-17',
       '2019-03-22', '2019-03-27', '2019-03-29', '2019-04-18',
       '2019-04-26', '2019-06-14', '2019-06-20', '2019-06-24',
       '2019-06-26', '2019-07-12', '2019-08-14', '2019-08-16',
       '2019-08-27', '2019-08-28', '2019-09-02', '2019-09-03',
       '2019-09-04', '2019-09-23', '2019-09-25', '2019-10-11',
       '2019-10-14', '2019-10-17', '2019-10-25', '2019-11-21',
       '2019-11-25', '2019-12-02', '2019-12-12', '2019-12-13',
       '2019-12-30', '2020-01-16', '2020-02-06', '2020-02-19',
       '2020-02-20', '2020-03-06', '2020-03-10', '2020-03-12',
       '2020-03-18', '2020-03-19', '2020-03-27', '2020-04-12',
       '2020-04-20', '2020-04-24', '2020-04-30', '2020-05-06',
       '2020-05-28', '2020-06-01', '2020-06-02', '2020-06-13',
       '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-26', '2020-06-29', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-06', '2020-07-07',
       '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
       '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-04',
       '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-17', '2020-08-18', '2020-08-20', '2020-08-21',
       '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
       '2020-08-28', '2020-08-29', '2020-08-31', '2020-09-02',
       '2020-09-03', '2020-09-04', '2020-09-07', '2020-09-08',
       '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12',
       '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
       '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24',
       '2020-09-25', '2020-09-26', '2020-09-28', '2020-09-29',
       '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-08',
       '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14',
       '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20',
       '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
       '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
       '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-09', '2020-11-10', '2020-11-12',
       '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-23',
       '2020-11-24', '2020-11-25', '2020-11-26', '2020-11-30',
       '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
       '2020-12-05', '2020-12-08', '2020-12-09', '2020-12-10',
       '2020-12-11', '2020-12-14', '2020-12-15', '2020-12-16',
       '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
       '2020-12-23', '2020-12-24', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2021-01-02', '2021-01-04',
       '2021-01-05', '2021-01-06', '2021-01-08', '2021-01-09',
       '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14',
       '2021-01-15', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-21', '2021-01-22', '2021-01-25', '2021-01-26',
       '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30',
       '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
       '2021-02-05', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-15',
       '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
       '2021-02-20', '2021-02-22', '2021-02-23', '2021-02-24',
       '2021-02-25', '2021-02-26', '2021-02-27', '2021-03-01',
       '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
       '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
       '2021-03-12', '2021-03-13', '2021-03-15', '2021-03-16',
       '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22',
       '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01',
       '2021-04-02', '2021-04-04', '2021-04-06', '2021-04-07',
       '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-12',
       '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-17',
       '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22',
       '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28',
       '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-04',
       '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-10',
       '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
       '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
       '2021-05-21', '2021-05-24', '2021-05-25', '2021-05-26',
       '2021-05-27', '2021-05-28', '2021-05-29', '2021-05-31',
       '2021-06-02', '2021-06-03', '2021-06-04', '2021-06-07',
       '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
       '2021-06-12', '2021-06-14', '2021-06-15', '2021-06-16',
       '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
       '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
       '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01',
       '2021-07-02', '2021-07-03', '2021-07-05', '2021-07-06',
       '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10',
       '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14',
       '2021-07-15', '2021-07-16', '2021-07-19', '2021-07-20',
       '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
       '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29',
       '2021-07-30', '2021-08-02', '2021-08-03', '2021-08-04',
       '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19',
       '2021-08-20', '2021-08-21', '2021-08-23', '2021-08-24',
       '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-30',
       '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03',
       '2021-09-04', '2021-09-06', '2021-09-07', '2021-09-08',
       '2021-09-09', '2021-09-10', '2021-09-11', '2021-09-13',
       '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-17',
       '2021-09-18', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-27', '2021-09-28',
       '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02',
       '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-10-08', '2021-10-09', '2021-10-11', '2021-10-12',
       '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-18',
       '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
       '2021-10-23', '2021-10-25', '2021-10-26', '2021-10-27',
       '2021-10-28', '2021-10-29', '2021-11-02', '2021-11-03',
       '2021-11-04', '2021-11-05', '2021-11-06', '2021-11-08',
       '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-12',
       '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
       '2021-11-19', '2021-11-22', '2021-11-23', '2021-11-24',
       '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-29',
       '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-03',
       '2021-12-04', '2021-12-06', '2021-12-07', '2021-12-08',
       '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-13',
       '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17',
       '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
       '2021-12-24', '2021-12-27', '2021-12-28', '2021-12-29',
       '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-03',
       '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
       '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
       '2022-01-14', '2022-01-15'], dtype=object)

### Stock market - WIG 20 historic price

In [4]:
wig_20 = pd.read_csv('https://stooq.pl/q/d/l/?s=wig20&i=d')
wig_20.to_csv('WIG_20.csv')
wig_20

            Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie   Wolumen
0     1991-04-16    100.00     100.00     100.00      100.00       325
1     1991-04-23     95.70      95.70      95.70       95.70      5905
2     1991-04-30     93.50      93.50      93.50       93.50      7162
3     1991-05-14     92.90      92.90      92.90       92.90     18300
4     1991-05-21     95.50      95.50      95.50       95.50     14750
...          ...       ...        ...        ...         ...       ...
7235  2022-01-10   2311.34    2328.41    2289.59     2291.23  22612381
7236  2022-01-11   2300.38    2345.44    2296.03     2344.45  30819446
7237  2022-01-12   2350.99    2411.11    2350.99     2411.11  46032724
7238  2022-01-13   2406.83    2429.03    2397.64     2407.62  36970690
7239  2022-01-14   2402.92    2413.59    2370.11     2383.16  25178257

[7240 rows x 6 columns]